@model HelloMVC.Models.Item

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@Model.Name</p>
        <p>@Model.UnitPrice</p>
    </div>
</body>
</html>
